getPosts:
  handler: src/posts/getPosts/handler.default
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
      Resource:
        Fn::GetAtt:
          - Tal3atTable
          - Arn
  environment:
    TABLE_NAME:
      Ref: Tal3atTable
  events:
    - http:
        method: get
        path: /v1/posts

likePost:
  handler: src/posts/likePost/handler.default
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:UpdateItem
      Resource:
        Fn::GetAtt:
          - Tal3atTable
          - Arn
  environment:
    TABLE_NAME:
      Ref: Tal3atTable
  events:
    - http:
        method: post
        path: /v1/posts/{postId}

addComment:
  handler: src/posts/addComment/handler.default
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:UpdateItem
      Resource:
        Fn::GetAtt:
          - Tal3atTable
          - Arn
  environment:
    TABLE_NAME:
      Ref: Tal3atTable
  events:
    - http:
        method: post
        path: /v1/posts/{postId}/comments

createPost:
  handler: src/posts/create/handler.default
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
      Resource:
        Fn::GetAtt:
          - Tal3atTable
          - Arn
  environment:
    TABLE_NAME:
      Ref: Tal3atTable
  events:
    - http:
        method: post
        path: /v1/posts
